{% extends "layout.html" %} {% block fixed %}

<div id="fixed-images">
  {% for i in artists["items"] %} <img src="{{ i["images"][0]["url"] }}" alt="">
  {% endfor %}
</div>

{% endblock %} {% block main %}

<nav class="fullsection">
  <nav class="navsection">
    <h1>{{ time }}</h1>
  </nav>

  <nav class="mainsection">
    <ol>
      {% for i in artists["items"] %}

      <div class="listcard">
        <div class="cardimg">
          <img src="{{ i["images"][0]["url"] }}" alt="">
        </div>

        <div class="cardinfo">
          <li id="songname">{{ i["name"] }}</li>
        </div>
      </div>

      {% endfor %}
    </ol>
  </nav>
</nav>

{% endblock %}
